/* Header Styles */

header { 
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    height: 15vh;    
}

ul {
    padding: 0; 
}

.globalHeaderLogo { 
    max-width: 20%; 
}

.globalHeaderCenter { 
    width: 80%;   
    max-height: 200px;  
}

.globalHeaderNav { 
    flex-direction: row; 
    padding: 1.5em; 
    /* controls nav bar's vertical padding*/
}

.globalHeaderNavLinks {  
    /* change to 50% if another item added*/
    margin: 0 auto;
}



.navItem { 
    display: inline;
    padding: 1.5em; 
    /* controls nav bar's horizontal padding*/ 
}





