/* NavBar Styles */

.headerComponent {
  position:absolute;
  width:100%;
}

.navBar {
  display:flex;
  flex-direction:row;
  width:100%;
  max-width:1000px;
  height:50px;
  justify-content:space-between;
  align-items:center;
  margin:0 auto;
  border-bottom:2px solid #FFFFFF;
}

.siteName {
  font-size:1.5em;
  line-height:24px;
  margin-left:10px;
  font-family:'Encode Sans', sans-serif;
  text-align:center;
  color:#FFFFFF;
}

.nav {
  width:70%;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  margin-right:15px;
  font-family: "Encode Sans", sans-serif; 
}

.navButton {
  color:#FFFFFF;
  text-decoration:none;
  margin-right:15px;
  font-weight:bold;
}

.navButton:hover {
  color:#000000;
}

.menuIcon {
  display:none;
}