/* NavBar Mobile Styles */

@media (max-width: 425px) {
  .siteName {
    width: 90%;
  }

  .menuIcon {
    display: flex;
    margin-right: 15px;
    font-size: 1.5em;
    color: white;
  }

  .nav {
    display: none;
  }

  .navMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navButton {
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    background: #cccccc;
    width: 90%;
    border-radius: 5px;
  }
}
