/* NavBar Styles */

.headerComponent {
  width: 100%;
}

.navBar {
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.siteName {
  font-size: 2em;
  line-height: 24px;
  margin-left: 10px;
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  width: 30%;
  font-variant: small-caps;
}

.nav {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15px;
  font-family: "Noto Sans", sans-serif;
}

.navIcon {
  display: none;
}

.navButton {
  color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 0.9em;
  cursor: pointer;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.navButton:hover {
  color: #3399cc;
}

.menuIcon {
  display: none;
}
