/* BookingMentorForm Styles */
.bookingFormLine { 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;   
    margin: 1em 0; 
}

.bookingForm { 
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    margin-top: 10%; 
    width: 100%; 
}

.tagDirections { 
    font-size: .75em; 
    margin: 0 1em;
}

.mentorDisclaimer { 
    font-size: .75em;
    margin: 2em;  
}

.mentorDescription { 
    
    margin: 5vh 0 8vh 0;  
}