/* About Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.mainProfile {
  width:100%;
  max-width:1000px;
  margin:0 auto;
}

.aboutBlock {
  background:#DDDDDD;
  min-height:100vh;
  max-width: 90vw; 
  margin: 0 auto; 
}


.aboutTextHeader {
  background:#CCCCCC;
  display:flex;
  height:8vh;
  margin: 4vh 0 10vh 0;
}

.aboutContent {
  background:#CCCCCC;
  display:flex;
  height:400px;
  margin:15px;
}

.aboutFaq {
  background:#CCCCCC;
  display:flex;
  height:400px;
  margin:15px;
}


.aboutButtons {
  min-height:100px;
  width: 40%; 
  margin: 0 auto; 
  display:flex;
  flex-direction:column;
  padding:30px;
}

.aboutSignUp {
  background:#999999;
  width:100%;
  height:50px;
  border-radius:5px;
}

.aboutContact {
  background:#999999;
  width:100%;
  height:50px;
  border-radius:5px;
  margin-top:15px;
}
