/* About Mobile Styles */

@media (max-width: 425px) {
  .aboutBlock {
    width: auto;
  }

  .aboutMainRow {
    flex-direction: column;
    max-width: 90%;
  }

  .aboutMainMiddleRow {
    flex-direction: column-reverse;
    max-width: 90%;
  }

  img.aboutMainContent {
    margin: 0 auto;
    max-width: 80vw;
  }
}

@media (max-width: 1024px) and (min-width: 426px) {
  .aboutBlock {
    margin: 0 auto;
    max-width: 600px;
  }
}
