/* UserProfile Styles */
.LP-container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background-color: black;
}

.LP-mainProfile {
  width:100%;
  max-width:1000px;
  margin:0 auto;
  margin-top: 60px;
  background-color: #FFFFFF;
}

.profileHeader {
  top: 10em;
  min-height:200px;
  background:#EEEEEE;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
}

section.profileHeader img:first-child {
  height: 200px;  
  width: 200px;  
}

.profileInfo {
  padding:10px;
  display:flex;
  flex-direction:column;
}

.profileName {
  font-size:3em;
  /* background: red; */
  min-width:400px;
  min-height:50px;
}

.profileTitle {
  min-width:500px;
  min-height:30px;
  /* background:#DDDDDD; */
  margin-top:10px;
}

.profileSpace {
  min-width:500px;
  min-height:30px;
  /* background:#DDDDDD; */
  margin-top:10px;
}

.profileSocial {
  min-width:500px;
  min-height:40px;
  /* background:#DDDDDD; */
  margin-top:10px;
}

.profileColumns {
  background:#CCCCCC;
  min-height:100vh;
  display:flex;
  flex-direction:row;
}

.profileColumnLeft {
  width:30%;
  min-height:100vh;
  background:#BBBBBB;
  border-right: 1px solid #DDDDDD;
}

.profileTagCloud {
  width:100%;
  background:#eeeeee;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
  /* box-sizing: border-box; */
}

.profileTag {
  height:30px;
  width:70px;
  background-color:#111111;
  margin:10px;
  border-radius:5px;
  color: white;
  text-align: center;
  width: fit-content;
}

.EventTag {
  cursor: pointer;
  height:30px;
  width:70px;
  background-color:#111111;
  margin:10px;
  border-radius:5px;
  color: white;
  text-align: center;
  width: fit-content;
}

.profileMentorship {
  min-height:200px;
  width:100%;
  background:#999999;
}

.profileEvents {
  min-height:300px;
  width:100%;
  background:#888888;
}

.profileColumnRight {
  display:flex;
  flex-direction:column;
  width:70%;
}

.profileBio {
  width:100%;
  min-height:500px;
  background:#777777;
}

.profileBio h1 {
  display:flex;
  justify-content: center;
  min-height:40px;
  background:#666666;
  margin:15px;
  /* width: 100%; */
}

.profileBioContent {
  display:flex;
  min-height:600px;
  background:#666666;
  margin:15px;
}

.profileAttending {
  display:flex;
  flex-direction:column;
  min-height:300px;
  background:#555555;
}

aside.profileAttending h2 {
  min-height:40px;
  background:#444444;
  margin:15px;
  text-align: center;
}

.profileAttendingContent {
  display:flex;
  flex-direction:column;
  min-height:200px;
  background:#444444;
  margin:15px;
}

.profileAttendingItem {
  cursor: pointer;
  display:flex;
  flex-direction:row;
  justify-content: center;
  min-height:40px;
  background:#333333;
  margin:10px;
}
