/* EventInformation Styles */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.addEventBanner {
  width: 100%;
  height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('http://h4z.it/Image/1f1d71_216-1202x800.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addEventBody {
  min-height: 100vh;
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 15px;
}

.addEventContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}

.addEventTitle {
  text-align: center;
}

.addEventInstructions {
  margin: 2em auto 0 auto;
  width: 600px;
}

.addEventOrganizersContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 200px;
}

.addEventSelectedOrganizersContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.addEventSponsorsContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 150px;
}

.addEventSelectedOrganizersContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.addEventOrganizersContainerHide {
  display: none;
}

.addEventOrganizerCard {
  display: flex;
  /* margin: 10px; */
  padding-top: 5px;
  padding-bottom: 5px;
}

dl#addEventUserInfo {
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
  font-family: 'Encode Sans Condensed';
  margin-left: 1em;
}

dl#addEventUserInfo div {
  display: flex;
}

dl#addEventUserInfo div:first-child {
  margin-top: .5em;
}


/* make all <dt> bold */

dl#addEventUserInfo dt {
  font-weight: 700;
}

.addEventRemoveOrg {
  border: 1px solid black;
  background: teal;
  color: white;
}

.addEventRemoveOrg:hover {
  cursor: pointer;
}

.addEventSearchOrganizerButton {
  border: 1px solid black;
  margin-left: .5em;
  background: teal;
  color: white;
}

.addEventHideOrganizerButton {
  border: 1px solid black;
  margin-top: 1em;
  background: teal;
  color: white;
  /* align-self: flex-end; */
  /* float: right; */
}

.addEventHideHideOrganizerButton {
  display: none;
}
/* 
.addEventOrganizerBlock { */
  /* height: 100px; */
  /* display: flex;
  flex-direction: column; */
/* } */

.addEventDesList {
  list-style: unset;
  margin: 2em 0;
}

.listItemReset {
  display: block;
  margin: 1em 0;
}

.addEventForm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
  border: 1px dashed #DDDDDD;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.addEventFormItem {
  width: 50%;
  margin: 30px 10%;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
}

.addEventFormItemNewSponsor {
  width: 50%;
  margin: 0 0 0 8%;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
}

.fakeUserPic {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background: #DDDDDD;
}

.addEventFormLabel {
  color: rgba(0, 0, 0, 0.54);
  display: block;
  margin-top: 32px;
  margin-bottom: 24px;
  /* display: none; */
}

.addEventUserSelect {
  width: 80%;
  margin: 30px 0;
}

.addEventSponsorContainer {
  width: 80%;
  margin: 30px 0;
  /* margin-top: 100px; */
}

.addEventDateTime {
  width: 80%;
  margin: 30px 0;
}

.addEventDateTimeHide {
  display: none;
}

.addEventNameInput {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 45px;
  /* margin: 30px 0;  */
}

.addEventTagContainer {
  width: 80%;
  margin-left: 10%;
  /* font-weight: bold; */
  align-self: flex-start;
  /* margin: 30px 10%;  */
  margin-top: 30px;
  margin-bottom: 30px;
}

.addEventTagWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.addEventDesContainer {
  width: 85%;
  margin: 70px 0 0 0;
}

.addEventSubmit {
  text-align: center;
  margin: 8% auto 0 auto;
  width: 200px;
  background: grey;
}


/* text editor */

.home-toolbar {
  background: transparent;
  border: none;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  width: 100%;
}

.home-wrapper {
  width: 100%;
  margin-top: 15px;
}

.rdw-editor-main {
  height: 150px;
  overflow: auto;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1.1em;
  color: #333333;
  line-height: 30px;
  letter-spacing: 1px;
}

.rdw-editor-wrapper {
  box-sizing: content-box;
  height: inherit;
}

.toolbarHidden {
  display: none;
}

.spaceSignUpMain {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #FFFFFF;
  border-radius: 5px;
  min-height: calc(100vh - 90px);
  border: 1px solid #DDDDDD;
}

.spaceLogoImagePreview {
  max-height: 200px;
  max-width: 100%;
}

.spaceSignUpMain {
  margin-top: -40px;
}

.spaceSignUpTitle {
  font-size: 1em;
  font-family: 'Noto Sans';
  font-weight: bold;
  color: #555555;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 10px;
}

.spaceSignUpContainer {
  display: flex;
  flex-direction: column;
}

.spaceLogoMainImageRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.spaceLogoMainImageBlock {
  width: 48%;
  min-height: 200px;
  border: 8px dashed #DDDDDD;
  font-family: 'Lato';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #BBBBBB;
}

.MyInputLabel-animated-9 {
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  position: relative;
  top: 0
}

.MyInputLabel-formControl-6 {
  top: 0;
  left: 0;
  position: relative;
  transform: translate(0, 23px) scale(1);
}


/* .MyInputLabel-root-5 {
  transform-origin: top left;
} */

.MyInputLabel-hide {
  display: none;
  /* transform-origin: top left; */
}

.MyInputLabel-root-11 {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  line-height: 1;
}

.MyInputLabel-shrink-8 {
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top left;
  margin-top: 12px;
}

.MyInputLabel-formControl-62 {
  top: 0;
  left: 0;
  position: relative;
}

.MyInputLabel-focused-12 {
  color: #304ffe;
}

.MyInputLabel-focused-122 {
  color: rgba(0, 0, 0, 0.54);
}

.MyInputLabel-root-112 {
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  line-height: 1;
}

.MuiExpansionPanelSummary-content-94 {
  justify-content: center;
}

.MuiCollapse-wrapperInner-111 {
  background: #fff;
}

span.Select-value-label {
  background: "red"
}

.foobar {
  margin-top: 32px;
  margin-bottom: 22px;
  background: #fff;
  border-bottom: 1.4px solid rgb(100, 100, 100);
  border-top: none;
  border-right: none;
  border-left: none;
}

.foobar2 {
  margin-bottom: 22px;
  background: #fff;
  border-bottom: 1.4px solid rgb(100, 100, 100);
  border-top: none;
  border-right: none;
  border-left: none;
}

.foobar3 {
  margin-bottom: 22px;
  background: #fff;
  border-bottom: 1.4px solid #304ffe;
  border-top: none;
  border-right: none;
  border-left: none;
}

.labelFoobar {
  margin-top: 32px;
}

.foobar:hover {
  border-bottom: 2px solid rgb(100, 100, 100);
}

.foobar2:hover {
  border-bottom: 2px solid rgb(100, 100, 100);
}

.foobar3:hover {
  border-bottom: 2px solid #304ffe;
}

.Select-arrow {
  display: none;
}

.Select-clear {
  display: none;
}

.Select-placeholder {
  padding: 0;
  /* font-weight: bold; */
  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}
