/* TagSelect Styles */
.tagSelectContainer { 
    height: 10vh; 
    padding: 1em; 
    display: flex; 
    align-items: center;  
}

.tagWrapper { 
    width: 100%; 
    padding: 5px; 
    display: flex; 
    flex-direction: row;   
    flex-wrap: wrap;  
    justify-content: space-between; 
    align-items: center; 
}