/* TagSelect Styles */
.tagSelectContainer { 
    height: 10vh; 
    padding: 2em 1em; 
    display: flex; 
    align-items: center;  
    max-width: 400px; 
}

.tagWrapper { 
    width: 100%;   
    max-width: 375px; 
    padding: 5px; 
    display: flex; 
    flex-direction: row;   
    flex-wrap: wrap;  
    justify-content: space-between; 
    align-items: center; 
}