/* Footer Styles */

.footerContent {
  height:50px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  padding-left:15px;
  padding-right:15px;
  border-top:1px solid #CCCCCC;
}

.copyrightText {
  width:50%;
  font-size:0.9em;
  color:#444444;
}

.socialIconRow {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

.socialIcon {
    margin: .25em;
    padding: .5em;
    font-size: 1.5em;
    justify-content: space-around;
}
