/* SpaceSignUp Styles */

.spaceSignUpcontainer {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background:#F8F8F8;
}

.spaceSignUpMain {
  width:100%;
  max-width:720px;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  padding:30px;
  background:#FFFFFF;
  border-radius:5px;
  min-height:calc(100vh - 90px);
  border:1px solid #DDDDDD;
}

.spaceSignUpTitle {
  font-size:1em;
  font-family:'Noto Sans';
  font-weight:bold;
  color:#555555;
  border-bottom:1px solid #DDDDDD;
  padding-bottom:10px;
}

.spaceSignUpContainer {
  display:flex;
  flex-direction:column;
}

.spaceLogoMainImageRow {
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin-top:15px;
  margin-bottom:15px;
}

.spaceLogoMainImageBlock {
  width:48%;
  min-height:200px;
  border:8px dashed #DDDDDD;
  font-family:'Lato';
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  font-size:1.5em;
  color:#BBBBBB;
}

.spaceLogoImagePreview {
  max-height:200px;
  max-width:100%;
}

.home-toolbar {
  background:transparent;
  border:none;
  border-bottom:1px solid #DDDDDD;
  display:flex;
  width:100%;
}

.home-wrapper {
  width:100%;
  margin-top:15px;
}

.rdw-editor-main {
  min-height:500px;
  font-family:'Lato';
  font-weight:400;
  font-size:1.1em;
  color:#333333;
  line-height:30px;
  letter-spacing: 1px;
}

.toolbarHidden {
  display:none;
}

.spaceSignUpBanner {
  width:100%;
  height:350px;
  background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('https://s3.us-east-2.amazonaws.com/suggestify/cf9fdc_-add-listing.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.spaceSignUpMain {
  margin-top:-40px;
}

.spaceSignUpUser {
  display:flex;
  flex-direction:column;
  border-radius:5px;
  border:1px solid #DDDDDD;
  padding:20px;
  margin-top:-70px;
  background:#FFFFFF;
}
