/* SpaceSignUp Mobile Styles */

@media (max-width: 425px) {
  .homeHeaderContentTitle {
    text-align: center;
    padding: 15px;
  }
}

@media (max-width: 1024px) and (min-width: 426px) {
  .spaceSignUpMain {
    width: auto;
  }

  .homeHeaderContentTitle {
    text-align: center;
  }
}
