/* DefaultButton Styles */


.MeshDefaultButton {
    background: #ab4c9d; 
    color: #ffffff; 
    font-family: "Encode Sans", sans-serif; 
    font-variant: small-caps; 
 
    padding: 8px 30px; 
    position: relative; 
}



