/* Sponsors Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.sponsorBanner { 
  height:400px;
  width:100%;
  background: #CCCCCC; 
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  line-height:120px;
  text-align:center;
  color:#FFFFFF;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.sponsorBody {
  min-height:100vh;
  width:100%;
  max-width:1200px;
  margin: 0 auto;
  padding:15px;
}

 .sponsorList { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin-bottom: 10vh;    
  }

    .sponsorListing { 
      border: 1px solid #CCCCCC;
      
      padding: 1em; 
      margin: 4vh 0;      
    }

    .sponsorLogo {  
      display: flex;
      flex-direction: column;  
      justify-content: center;
      margin: 2vh;             
    }

    .sponsorTextBlock {  
      text-align: center;                
    }

    .sponsorSiteLink { 
      margin: 2em 1em; 
      color: blue; 
    }
      

  
