/* MemberAcct Styles */

.accountContainer {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background:#EEEEEE;
}

.acctBanner {
  width: 100%;
  margin: 0 auto;
  height:300px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  color:#FFFFFF;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('http://h4z.it/Image/54cdb0_eum-1200x800.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.acctBody {
  min-height:100vh;
  width:80%;
  max-width: 800px;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  align-content: space-around;
  padding:30px;
  background:#FFFFFF;
  border-radius:5px;
  min-height:calc(100vh - 90px);
  border:1px solid #DDDDDD;
  margin-top:-50px;
}

.acctMainInfo {
  padding: 30px;
}

  .acctProfileInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 15px;
  }

    .acctProfileMain {
      display: flex;
      flex-direction: column;
      margin: 0 15px 15px 0;
    }

    .acctProfilePicture {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: space-between;
      margin: 0 15px;
    }

      .acctProfilePicturePreview {
        width: 250px;
        height: 250px;
        align-self: center;
        margin: 0 auto;
      }

.acctSocialMediaWrapper {
  padding: 15px;
  margin: 0 auto;

}
  .acctSocialMedia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin: 15px auto;
  }

.acctTagSelection {
  padding: 30px;
  width:100%;
}

  .acctTagSelectWrapper {
    border: 1px solid black;
  }

.acctManagement {
  padding: 30px;
}

  .acctChangePassForm, .acctChangeEmailForm {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding: 15px;
  }

  .acctDeleteAcctForm {
    margin: 15px 0;
    padding: 15px;
  }

.acctSubmitButton {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
}

.acctFormItem {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
