/* MemberAcct Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.acctBanner { 
  width: 100%;
  margin: 0 auto;
  padding-top: 20px; 
  background:#222222;
  height:200px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  font-family: 'Anton', sans-serif;
  font-size:2em;
  text-align:center;
  color:#FFFFFF;
}

.acctBody { 
  min-height:100vh;
  width:100%;
}

.acctSubmitButton {
  width: 100px; 
  margin: 0 auto; 
  text-align: center; 
  display: flex; 
  align-self: center;
  justify-content: center;  
}

.acctFormItem {
  display: flex; 
  justify-content: space-between; 
  margin: 1em 0; 
}



