/* EventDetail Mobile Styles */

@media (max-width: 425px) {
  .homeSignButtons {
    flex-direction: column;
    width: 100%;
  }

  .eventDetailBanner {
    height: auto;
  }

  .eventDetailsDateBlock {
    font-size: 0.9em;
    text-align: center;
  }
  .eventDetailSignUpRow {
    display: flex;
    flex-direction: column;
  }
}
