/* Lessons Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.correctOptions {
  display:flex;
  flex-direction:row;
  width:40%;
}


.lmsLectureGrade {
  display:flex;
  height:60px;
  width:100%;
  background:#EEEEEE;
  flex-direction:row;
  justify-content: flex-end;
  padding-right:10px;
  align-items:center;
  font-size:3em;
  font-weight:bold;
  color:#222222;
}