/* Home Mobile Styles */

@media (max-width: 425px) {
  .homeHeaderContent {
    padding: 15px;
    font-size: 0.8em;
  }

  .homeHeaderContentTitle {
    text-align: center;
  }

  .homeHeaderContentSubtitle {
    font-size: 1.15em;
    /* some font alignment hackyness */
    margin-left: 3px;
  }

  .homeSignButtons {
    display: flex;
    direction: row;
    justify-content: center;
  }

  .homeMainSectionContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  .homeMainSectionContentTwo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .homeMainSectionBlockOne {
    width: 40%;
  }

  .homeMainSectionBlockTwo {
    width: 80%;
    margin: 15px auto;
  }

  .homeMainSectionTitle {
    text-align: center;
  }

  .homeFooterContainer {
    padding: 15px;
    text-align: center;
  }
}

@media (max-width: 1024px) and (min-width: 426px) {
  .homeHeaderContentTitle {
    text-align: center;
  }
}

@media (max-width: 1024px) and (min-width: 426px) and (orientation: portrait) {
  .homeHeaderContentTitle {
    text-align: center;
  }

  .homeMainSectionContentTwo {
    justify-content: center;
  }

  .homeMainSectionBlockTwo {
    width: 60%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .homeMainSectionBlockTwo img {
    max-width: 80%;
  }
}
