/* Home Styles

This boilerplate lacks css encapsulation & therefore all variables are global. This home container style sheet also serves as a global stylesheet. Please avoid tag selectors in other css files unless the tag itself is encapsulted ex. header & footer tag selectors in their corresponding styles.

In the case of multiple components of the same type the first component ex HomeBodyOne will have the default styling associated with all other HomeBody's.
*/

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

h1, h2, h3, h4, h5 {
  font-family: 'Encode Sans', sans-serif;
}

body {  
  font-family: 'Spectral', serif;
}

a {
  color: #ab4c9d;
  text-decoration: none;
  font-weight: 500;
}

li {
  display: inline;
}

ol,
ul {
    /* no bullets in lists */
    list-style: none;
}

button, input {
  border: 0;
  /* inherit font from body */
  font: inherit;
}

label { 
  font-family: 'Encode Sans', sans-serif;
}

button {
  cursor: pointer;
  background-color: transparent;
}

textarea { 
  font-family: 'Spectral', serif; 
  padding: .25em; 
  font-size: 18px; 
}