/* Events Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.eventHomeBanner { 
  height:200px;
  width:100%;
  background: #CCCCCC;
  background-size:cover;
  background-position:center center;
  font-family: 'Anton', sans-serif;
  font-size:4em;
  line-height:120px;
  text-align:center;
  color:#FFFFFF;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.eventHomeBody {
  width: 100%; 
  padding: 30px;  
}

  .eventHomeSearchSort {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    margin: 15px auto; 
    border: 1px solid red; 
    max-width: 1200px;
  }
    .eventHomeSearchWrapper { 
      display: flex; 
      flex-direction: row; 
      align-content: center; 
      justify-content: space-between; 
      align-self: center; 
      margin: 15px; 
      max-width: 300px;
     }

      .eventHomeSearch {
        border: 1px solid black; 
        min-width: 100px; 
        height: 1.5em;             
      }

    .eventHomeLocationSelect {
      width: 300px;
    }

    .eventHomeTagSort {

    }

  .eventHomeCalenderWrapper {
    margin: 30px auto;
    padding: 15px;  
    max-width: 1200px;
    height: 120vh; 
    border: 1px solid green;  
  }
