/* About Mobile Styles */

@media (max-width: 425px) {
  .aboutBanner {
    height: auto;
  }

  .aboutMainTitle {
    text-align: center;
    padding: 15px 0;
  }

  .homeHeaderContentTitle {
    margin: 30px 7.5px 0 7.5px;
  }

  .aboutMainRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutMainContentTitle {
    text-align: center;
  }

  #aboutMainMiddleRow {
    flex-direction: column-reverse;
  }

  img.aboutMainContent {
    max-width: 50%;
  }

  .homeFooterContainer {
    text-align: center;
    padding: 10px;
    margin-top: 0;
  }
}

@media (max-width: 1024px) and (min-width: 426px) {
  .aboutMainTitle {
    text-align: center;
    padding: 15px 0;
  }

  .aboutMainRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #aboutMainMiddleRow {
    flex-direction: column-reverse;
  }

  img.aboutMainContent {
    max-width: 50%;
  }

  .homeFooterContainer {
    text-align: center;
    padding: 15px;
  }
}
