/* KioskSuggestedEvents Styles */

.kioskWelcome { 
    padding: 30px; 
    text-align: center; 
}

.kisokEventContent {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.kioskEventDateTime { 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}

.kioskEventButtonWrapper {
    display: flex; 
    justify-content: center; 
}