/* UserProfile Styles */
.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.mainProfile {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  height:calc(100vh - 55px);
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.profileHeader {
  min-height:200px;
  width:100%;
  max-width:800px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  border-bottom:1px solid #FFFFFF;
}

.profileHeaderImg {
  width:200px;
  height:200px;
  border-radius:50%;
}

.profileHeaderTitle {
  font-size:3em;
  font-family:'Noto Sans';
  color:#FFFFFF;
  text-align:center;
}

.profileSubTitle {
  font-size:1.5em;
  font-family:'Noto Sans';
  color:#FFFFFF;
  text-align:center;
  color:#EEEEEE;
  margin-bottom:5px;
}

.profileContact {
  width:100%;
  max-width:750px;
  padding:20px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  border-bottom:1px solid #FFFFFF;
}

.profileSpaceBlock {
  border-radius:4px;
  border:2px solid #FFFFFF;
  padding:10px 20px;
  color:#FFFFFF;
  text-transform:uppercase;
  cursor:pointer;
  margin-right:5px;
}

.profileSpaceBlock:hover {
  background:rgba(255, 255, 255, 0.2);
}

.profileSocialList {
  display:flex;
  flex-direction:row;
  align-items:center;
}

.profileIconStyle {
  color:#FFFFFF;
  font-size:2em;
  margin-left:10px;
  cursor:pointer;
}

.profileSkillsList {
  width:100%;
  max-width:900px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-top:15px;
  justify-content: center;
}

@keyframes profileFlicker {
  0% {
    background:rgba(255,255,255, 0.5);
  }
  100% {
    background:rgba(255,255,255, 0.1)
  }
}
