/* UserProfile Mobile Styles */

@media (max-width: 425px) {
  .profileHeader {
    max-width: 80%;
    margin: 0 auto;
  }

  .profileContact {
    max-width: 75%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }

  .profileSocialList {
    margin-top: 15px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) and (min-width: 426px) {
  .profileHeader {
    max-width: 90%;
  }

  .profileContact {
    max-width: 75%;
  }
}
