/* BusinessSearch Styles */
.BS-Container {
  /* flex  */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* height */
  min-height:100vh;
}

div.BS-Container main {
  display: flex;
  flex-direction: column;
}

/* banner */
div.BS-Container h1 {
  /* flex */
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  /* height, width */
  height:40vh;
  min-height: 4em;
  width:100%;
  /* background */
  background:linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url('../../images/co2.jpg'
  );
  background-size:cover;
  background-position:center center;
  /* text */
  font-family: 'Anton', sans-serif;
  font-size:3.80em;
  line-height:120px;
  text-align:center;
  color:#FFFFFF;
}

/* search results container */
div#BS-postSearchContainer ul {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

/* User Cards */
div#BS-postSearchContainer li {
  display: flex;
  border: .5px solid silver;
  padding: 1em;
  width: 100%;
}

/* User Avatar */
div#BS-postSearchContainer img {
  border-radius: 50%;
}

/* User Description List */
dl#BS-workSpaceInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Encode Sans Condensed';
  margin-left: 3em;
}

/* put all <dt> <dd> pairs in row */
dl#BS-workSpaceInfo div {
  display: flex;
}

/* make all <dt> bold */
dl#BS-workSpaceInfo dt {
  font-weight:700; 
}

/* search input */
div#BS-SearchForm input {
  padding-left: 1.5em;
  width: 100%;
}

/* mozzilla - position/style cursor in searchbar */
div#BS-SearchForm > input:placeholder-shown {
  padding-left: 1.5em;
   /* text */
  color: black;
  font-weight: 200;
}

/* safari - position/style cursor in searchbar */
div#BS-SearchForm  > input::-webkit-input-placeholder {
  padding-left: .30em;
   /* text */
  color: black;
  font-weight: 200;
}

.marker:hover {
  display: none;
}

/* icon in search bar */
svg#BS-MdIcon {
  display: inline-block;
  align-self: center;
  padding-left: .75em;
  /* border: 1px solid hotpink; */
}

div.BS-Container > main > h2 {
  /* flex */
  display:flex;
  flex-direction:row;
  justify-content:center;
  /* text */
  font-size:2.5em;
  font-variant:small-caps;
  font-weight:bold;
  color:#555555;
  /* formatting  */
  margin-top: .5em;
  margin-bottom: 1em;
}
div#dude {
  /* flex-grow: 1; */
  box-sizing: border-box;
}
