/* Spaces Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.spacesHeader {
  width: 100%;
  margin: 0 auto;
  background:#222222;
  height:300px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  font-family: 'Anton', sans-serif;
  font-size:3em;
  text-align:center;
  color:#FFFFFF;
}

.spacesTitle {
  border-bottom:1px solid #FFFFFF;
}

.spacesList {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  max-width:1500px;
  margin:0 auto;
  padding:15px;
}

  .spaceListing {
    max-width: 30%;
    padding:1%;
  }

    .spaceLocation {
      margin: 4vh 0 0 0;
    }

    .spaceDescription {
        margin: 2em 0;
      }

.spaceJoinInterest {
  margin: 10vh auto;
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  max-width: 90vw;
  background: #DDDDDD;
}

  .joinInterestButton {
    width: 20%;
    margin: 2vh auto;
  }
