/* SpaceProfile Styles */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

li {
  margin-left: 2em;
}

.spaceProfileBanner {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #eeeeee;
  height: 300px;
  margin: 0 auto;
}

.spaceProfileBannerColumnLeft {
  width: 60%;
  padding: 30px 10% 0 30px;
  background: #dddddd;
}

.spaceProfileHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1.75em;
}

.spaceProfileName {
  font-size: 2.5em;
  margin: 30px 0 45px 0;
}

.spaceProfileSocialMediaBlock {
  padding: 15px 0;
}

.spaceProfileSocialIcon {
  font-size: 1.75em;
}

.spaceProfileAmeneties {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  padding: 45px 0;
}

.spaceProfileOfferings {
  display: flex;
  flex-direction: column;
}

.spaceProfileMap {
  background: #cccccc;
  max-width: 40%;
}

.spaceProfileBody {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}

.spaceProfileActions {
  margin: 60px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a.spaceProfileActions {
  color: white;
}

.spaceProfileAbout {
  margin: 30px 0;
}

.spaceProfileMembership {
  margin: 0 auto;
  padding: 30px;
}

.spaceProfileMemberships {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.spaceProfileMembAddContact {
  max-width: 600px;
  margin: 0 auto;
}

.spaceProfileMemConLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spaceProfileMembershipPerks {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

.spaceProfileMembershipContact {
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.spaceProfileBookATour {
  text-align: center;
  padding-bottom: 15px;
}

.spaceProfileUpcomingEvents {
  margin: 30px 0;
}

.spaceEventCard {
  padding: 15px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
}

/* Material UI inserts a div between eventCard and CardImage + CardContent - has to be handled thru inline prop */

.spaceEventImage {
  background: orangered;
  width: 250px;
  height: 200px;
}

.spaceEventCardContent {
  margin: 0 0 0 30px;
  padding: 15px;
  width: 60%;
}

.spaceEventCardDetails {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  flex-wrap: wrap;
}

.spaceEventCardDescription {
  font-size: 16px;
  margin: 1em 0;
}

.spaceProfileSpaceMembers {
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  max-width: 1200px;
}

.spaceProfileMemberHeader {
  text-align: center;
}

.spaceProfileAvatarBlock {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.spaceProfileUser {
  display: flex;
  flex-direction: row;
  background: #f8f8f8;
  margin-top: 5px;
  border-radius: 3px;
}

.spaceProfileUserAvatar {
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.spaceProfileUserContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Noto Sans";
  font-size: 1em;
  flex-grow: 1;
  margin-left: 15px;
}

.spaceProfileEventsWrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.spaceGalleryContainer {
  width: 100%;
  height: 340px;
  background: #eeeeee;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
}

.spaceGalleryPhotoBlock {
  margin-right: 2.5px;
}

.spaceMainContainer {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}

.spaceMainHeader {
  height: 210px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dddddd;
}

.spaceMainOne {
  width: 68%;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}

.spaceMainTwo {
  width: 30%;
}

.spaceMainBread {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Noto Sans";
  color: #999999;
  font-size: 0.9em;
}

.spaceMainTitle {
  font-family: HankenBook, sans-serif;
  color: #ff4d58;
  font-size: 3em;
  margin-top: 15px;
  margin-bottom: 10px;
}

.spaceMainSlogan {
  font-family: HankenBook, sans-serif;
  color: #bbbbbb;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.spaceContact {
  display: flex;
  flex-direction: row;
}

.spaceContactBlock {
  text-decoration: none;
  margin-right: 15px;
  color: #999999;
}

.spaceMainContent {
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
}

.spaceMainDescription {
  font-family: "Noto Sans";
  letter-spacing: 1px;
  line-height: 30px;
  background: #ffffff;
  border-radius: 3px;
  padding: 15px;
  color: #777777;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.spaceMainDescription li {
  margin-left:50px;
}

.spaceMainLogo {
  max-width: 100%;
  max-height: 190px;
}

.spaceOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  background: #ffffff;
}

.spaceLocation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  background: #ffffff;
  margin-top: 15px;
}

.spaceLocation img {
  width: 100%;
}

.spaceLocationContent {
  font-family: "Noto Sans";
  color: #999999;
  font-size: 0.8em;
}

.spaceMembers {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  background: #ffffff;
  margin-top: 15px;
}

.spaceMembersTitle {
  font-family: "Noto Sans";
  font-size: 0.9em;
  color: #666666;
}

.spaceEvents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.spaceEventBlock {
  width: 45%;
  margin: 2%;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background: #ffffff;
}

.spaceEventBlockImage {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px 3px 0px 0px;
}

.spacesBlockImage img {
  width: 100%;
  height: auto;
}

.spaceEventBlockTitle {
  padding: 10px;
  font-family: HankenBook, sans-serif;
  color: #ff4d58;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.spaceEventBlockContent {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: "Noto Sans";
  color: #999999;
  font-size: 0.8em;
}

.agendaCalendar {
  display: none;
}
