/* Home Styles */

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.challenges_mainContainer {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    min-height: 100vh;
}

.challenges_categoryContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.challenges_challengeFeed {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 60%;
    padding-left: 2%;
    padding-right: 2%;
}

.challenges_sideBar {
    width: 20%;
}

.challenges_categoryHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #555555;
}

.challenges_searchInput {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    color: #222222;
    font-size: 1.05em;
    width: 100%;
}

.challenges_newsLetterBlock {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #e8e8e8;
    padding: 5px;
}

.challenges_newsLetterImage {
    height: 200px;
    background: #EEEEEE;
}

.challenges_newsLetterInput {
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    outline: none;
    border: 1px solid #DDDDDD;
}

.challenges_feedContainer {
    width: 100%;
    border: 1px solid #e8e8e8;
    margin-bottom: 15px;
    background: #FFFFFF;
}

.challenges_feedHeader {
    font-size: 2em;
    font-family: 'Lato';
    font-weight: 300;
    font-variant: small-caps;
    color: #777777;
    padding-left: 10px;
    padding-bottom: 5px;
}

.challenges_feedList {
    display: flex;
    flex-direction: column;
}

.challenges_feedBlock {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-top: 1px solid #E8E8E8;
    text-decoration: none;
}

.challenges_feedImage {
    width: 150px;
    height: 100px;
}

.challenges_feedInfo {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.challenges_feedTitle {
    font-family: 'Lato';
    font-size: 1.5em;
    font-weight: 300;
    color: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.challenges_teamList {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
}

.challenges_memberAvatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.challenges_mainContainer {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    min-height: 100vh;
}

.challenges_newChallengeImagePreview {
    max-height: 200px;
    max-width: 100%;
}

.challenges_sideBar {
    width: 20%;
}

.challenges_categoryContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.challenges_challengeFeed {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 60%;
    padding-left: 2%;
    padding-right: 2%;
}

.challenges_feedBlock {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-top: 1px solid #E8E8E8;
    text-decoration: none;
}

.challenges_feedImage {
    width: 150px;
    height: 100px;
}

.challenges_feedInfo {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.challenges_feedTitle {
    font-family: 'Lato';
    font-size: 1.5em;
    font-weight: 300;
    color: #333333;
}

.challenges_challengeImageBlock {
    min-height: 100px;
    border: 4px dashed #DDDDDD;
    font-family: 'Noto Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #BBBBBB;
    margin-top: 15px;
}

.challenges_question-editor-main {
    min-height: 200px;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 1.1em;
    color: #333333;
    line-height: 30px;
    letter-spacing: 1px;
}