/* Banner Styles */

.challenges_bannerWrapper {
  display:flex;
}

.challenges_bannerContainer {
  background:#FFFFFF;
  width:100%;
  height:360px;
  border-bottom:1px solid #e8e8e8;
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.challenges_bannerWrapper {
  display:flex;
  flex-direction:row;
  width:60%;
  margin:0 auto;
  justify-content: space-between;
  align-items:center;
}

.challenges_bannerInfo {
  width:40%;
  display:flex;
  flex-direction:column;
}

.challenges_bannerTitle {
  font-family:'Noto Sans';
  font-size:2em;
  font-weight:bold;
  padding-top:10px;
  padding-bottom:10px;
  color:#333333;
}

.challenges_bannerContent {
  font-family:'Noto Sans';
  font-weight:200;
  font-size:1.2em;
  padding-bottom:10px;
  color:#666666;
}

.challenges_bannerGraphic {
  width:40%;
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.challenges_bannerImg {
  height:300px;
}

/* RightBar Styles */

.challenges_questionTitleInput {
  display:flex;
  width:100%;
  font-size:1.5em;
  padding:5px;
  background:#EEEEEE;
  border:none;
  outline:none;
}

.challenges_drawerContainer {
   display:flex;
   flex-direction:row;
   justify-content:space-between;
}

.challenges_replyEditor {
  width:80%;
}

.challenges_replyDrawerOptions {
  width:20%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

.challenges_hquestion-toolbar {
  background:transparent;
  border:none;
  border-bottom:1px solid #DDDDDD;
  display:flex;
  width:100%;
}

.challenges_hquestion-wrapper {
  width:100%;
  margin-top:15px;
}

.challenges_question-editor-main {
  min-height:200px;
  font-family:'Noto Sans';
  font-weight:400;
  font-size:1.1em;
  color:#333333;
  line-height:30px;
  letter-spacing: 1px;
}

.challenges_home-toolbar {
  background:transparent;
  border:none;
  border-bottom:1px solid #DDDDDD;
  display:flex;
  width:100%;
}

.challenges_home-wrapper {
  width:100%;
  margin-top:15px;
}

.challenges_rdw-editor-main {
  min-height:500px;
  font-family:'Noto Sans';
  font-weight:400;
  font-size:1.1em;
  color:#333333;
  line-height:30px;
  letter-spacing: 1px;
}

.challenges_toolbarHidden {
  display:none;
}

.challenges_newFileList {
  display:flex;
  flex-direction:column;
}

.challenges_newFileAdd {
  min-height:30px;
  border:2px dashed #DDDDDD;
  font-family:'Noto Sans';
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  font-size:1.2em;
  color:#BBBBBB;
  margin-top:15px;
}

.challenges_newFileBlock {
  width:100%;
  height:35px;
  background:#FFFFFF;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-family:'Noto Sans';
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-between;
  font-size:1.2em;
  color:#BBBBBB;
  margin-top:15px;
}

.challenges_newChallengeImagePreview {
  max-height:200px;
  max-width:100%;
}

.challenges_challengeImageBlock {
  min-height:100px;
  border:4px dashed #DDDDDD;
  font-family:'Noto Sans';
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  font-size:1.5em;
  color:#BBBBBB;
  margin-top:15px;
}

/* SideNav Styles */

.challenges_categoryBlock {
  display:flex;
  flex-direction:row;
  align-items:center;
  cursor:pointer;
  padding:5px;
  text-decoration:none;
}

.challenges_categoryIcon {
  width:30px;
  height:30px;
  background:#000000;
  margin-right:10px;
}

.challenges_categoryName {
  font-family:'Noto Sans';
  font-size:0.8em;
  font-weight:bold;
  color:#555555;
}

.challenges_categoryBlock:hover {
  background:#EEEEEE;
}

.challenges_categoryTitle {
  font-family:'Noto Sans';
  font-size:0.9em;
  font-weight:600;
  color:#888888;
  margin-bottom:5px;
}

/* Home Styles */

.challenges_mainContainer {
  display:flex;
  flex-direction:column;
  background:#f9f9f9;
  min-height:100vh;
}

.challenges_contentContainer {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:100%;
  max-width:1100px;
  margin:0 auto;
  margin-top:20px;
}

.challenges_categoryContainer {
  display:flex;
  flex-direction:column;
  width:20%;
}

.challenges_challengeFeed {
  display:flex;
  flex-direction:column;
  flex-grow:1;
  max-width:60%;
  padding-left:2%;
  padding-right:2%;
}

.challenges_sideBar {
  width:20%;
}


.challenges_categoryHeader {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  color:#555555;
}

.challenges_searchInput {
  border:1px solid #E8E8E8;
  border-radius:5px;
  padding-top:5px;
  padding-bottom:5px;
  outline:none;
  color:#222222;
  font-size:1.05em;
  width:100%;
}

.challenges_newsLetterBlock {
  margin-top:10px;
  display:flex;
  flex-direction:column;
  background:#FFFFFF;
  border:1px solid #e8e8e8;
  padding:5px;
}

.challenges_newsLetterImage {
  height:200px;
  background:#EEEEEE;
}

.challenges_newsLetterInput {
  width:90%;
  margin:0 auto;
  padding:2%;
  outline:none;
  border:1px solid #DDDDDD;
}

.challenges_feedContainer {
  width:100%;
  border:1px solid #e8e8e8;
  margin-bottom:15px;
  background:#FFFFFF;
}

.challenges_feedHeader {
  font-size:2em;
  font-family:'Lato';
  font-weight:300;
  font-variant:small-caps;
  color:#777777;
  padding-left:10px;
  padding-bottom:5px;
}

.challenges_feedList {
  display:flex;
  flex-direction:column;
}

.challenges_feedBlock {
  min-height:100px;
  display:flex;
  flex-direction:row;
  padding:10px;
  border-top:1px solid #E8E8E8;
  text-decoration:none;
}

.challenges_feedImage {
  width:150px;
  height:100px;
}

.challenges_feedInfo {
  display:flex;
  flex-direction:column;
  padding-left:10px;
  padding-right:10px;
}

.challenges_feedTitle {
  font-family:'Lato';
  font-size:1.5em;
  font-weight:300;
  color:#333333;
}

.challenges_feedContent {
  font-family:'Lato';
  font-weight:300;
  color:#999999;
  padding-top:5px;
  padding-bottom:5px;
}

.challenges_feedTags {
  display:flex;
  flex-direction:row;
  margin-top:5px
}

.challenges_tagBlock {
  font-family:'Noto Sans';
  font-weight:600;
  font-size:0.8em;
  color:#999999;
  padding:5px;
  border:1px solid #e8e8e8;
  background:#F4F4F4;
  margin-right:10px;
}

/* Challenges Styles */

.challenges_container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.challenges_questionContainer {

}

.challenges_questionBlock {
  min-height:100px;
  display:flex;
  flex-direction:column;
  padding:10px;
  border-top:1px solid #E8E8E8;
  text-decoration:none;
}

.challenges_questionHeader {
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-left:10px;
}

.challenges_questionAvatarImg {
  height:40px;
  width:40px;
  border-radius:50%;
}

.challenges_questionName {
  margin-left:10px;
  font-family:'Noto Sans';
  font-weight:600;
  color:#555555;
  font-size:0.challenges_9em;
}

.challenges_questionWho {
  margin-left:10px;
  font-size:0.9em;
  font-family:'Noto Sans';
  color:#999999;
}

/* Teams Styles */


.challenges_myTeamBlock {
  border:1px solid #E8E8E8;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  padding:10px;
  font-family:'Noto Sans';
  font-size:1.challenges_5em;
  color:#555555;
  font-variant:small-caps;
  background:#FFFFFF;
}

.challenges_teamList {
  display:flex;
  flex-direction:column;
  margin-top:15px;
  background:#FFFFFF;
  border:1px solid #E8E8E8;
}

.challenges_memberAvatar {
  height:40px;
  width:40px;
  border-radius:50%;
  margin-left:10px;
}

/* Home Styles */

.challenges_mainContainer {
  display:flex;
  flex-direction:column;
  background:#f9f9f9;
  min-height:100vh;
}

.challenges_contentContainer {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:100%;
  max-width:1100px;
  margin:0 auto;
  margin-top:20px;
}

.challenges_categoryContainer {
  display:flex;
  flex-direction:column;
  width:20%;
}

.challenges_challengeFeed {
  display:flex;
  flex-direction:column;
  flex-grow:1;
  max-width:60%;
  padding-left:2%;
  padding-right:2%;
}

.challenges_sideBar {
  width:20%;
}


.challenges_categoryHeader {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  color:#555555;
}

.challenges_searchInput {
  border:1px solid #E8E8E8;
  border-radius:5px;
  padding-top:5px;
  padding-bottom:5px;
  outline:none;
  color:#222222;
  font-size:1.05em;
  width:100%;
}

.challenges_newsLetterBlock {
  margin-top:10px;
  display:flex;
  flex-direction:column;
  background:#FFFFFF;
  border:1px solid #e8e8e8;
  padding:5px;
}

.challenges_newsLetterImage {
  height:200px;
  background:#EEEEEE;
}

.challenges_newsLetterInput {
  width:90%;
  margin:0 auto;
  padding:2%;
  outline:none;
  border:1px solid #DDDDDD;
}

.challenges_feedContainer {
  width:100%;
  border:1px solid #e8e8e8;
  margin-bottom:15px;
  background:#FFFFFF;
}

.challenges_feedHeader {
  font-size:2em;
  font-family:'Lato';
  font-weight:300;
  font-variant:small-caps;
  color:#777777;
  padding-left:10px;
  padding-bottom:5px;
}

.challenges_feedList {
  display:flex;
  flex-direction:column;
}

.challenges_feedBlock {
  min-height:100px;
  display:flex;
  flex-direction:row;
  padding:10px;
  border-top:1px solid #E8E8E8;
  text-decoration:none;
}

.challenges_feedImage {
  width:150px;
  height:100px;
}

.challenges_feedInfo {
  display:flex;
  flex-direction:column;
  padding-left:10px;
  padding-right:10px;
}

.challenges_feedTitle {
  font-family:'Lato';
  font-size:1.5em;
  font-weight:300;
  color:#333333;
}

.challenges_feedContent {
  font-family:'Lato';
  font-weight:300;
  color:#999999;
  padding-top:5px;
  padding-bottom:5px;
}

.challenges_feedTags {
  display:flex;
  flex-direction:row;
  margin-top:5px
}

.challenges_tagBlock {
  font-family:'Noto Sans';
  font-weight:600;
  font-size:0.8em;
  color:#999999;
  padding:5px;
  border:1px solid #e8e8e8;
  background:#F4F4F4;
  margin-right:10px;
}

/* Challenges Styles */

.challenges_container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.challenges_questionContainer {

}

.challenges_questionBlock {
  min-height:100px;
  display:flex;
  flex-direction:column;
  padding:10px;
  border-top:1px solid #E8E8E8;
  text-decoration:none;
}

.challenges_questionHeader {
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-left:10px;
}

.challenges_questionAvatarImg {
  height:40px;
  width:40px;
  border-radius:50%;
}

.challenges_questionName {
  margin-left:10px;
  font-family:'Noto Sans';
  font-weight:600;
  color:#555555;
  font-size:0.challenges_9em;
}

.challenges_questionWho {
  margin-left:10px;
  font-size:0.9em;
  font-family:'Noto Sans';
  color:#999999;
}

/* Teams Styles */

.challenges_myTeamBlock {
  border:1px solid #E8E8E8;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  padding:10px;
  font-family:'Noto Sans';
  font-size:1.challenges_5em;
  color:#555555;
  font-variant:small-caps;
  background:#FFFFFF;
}

.challenges_teamList {
  display:flex;
  flex-direction:column;
  margin-top:15px;
  background:#FFFFFF;
  border:1px solid #E8E8E8;
}

.challenges_memberAvatar {
  height:40px;
  width:40px;
  border-radius:50%;
  margin-left:10px;
}

/* Detail Styles */

.challenges_mainContainer {
  display:flex;
  flex-direction:column;
  background:#f9f9f9;
  min-height:100vh;
}

.challenges_contentContainer {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:100%;
  max-width:1100px;
  margin:0 auto;
  margin-top:20px;
}

.challenges_detailColumnOne {
  width:68%;
  margin-right:1%;
}

.challenges_detailColumnTwo {
  display:flex;
  flex-direction:column;
  align-items: center;
  width:28%;
}

.challenges_detailBlock {
  background:#FFFFFF;
  display:flex;
  flex-direction:row;
  padding:10px;
  text-decoration:none;
  border:1px solid #E8E8E8;
  width:100%;
}

.challenges_detailAvatarContainer {
  width:75px;
  height:75px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  background:#F5F5F5;
  overflow:hidden;
}

.challenges_detailAvatar {
  width:100%;
  height:auto;
}

.challenges_detailInfo {
  display:flex;
  flex-direction:column;
  padding-left:10px;
  padding-right:10px;
}

.challenges_detailTitle {
  font-family:'Noto Sans';
  font-size:1.8em;
  font-weight:200;
  color:#333333;
}

.challenges_detailContent {
  font-family:'Noto Sans';
  font-weight:200;
  color:#999999;
  padding-top:5px;
  padding-bottom:5px;
}

.challenges_detailSideBlock {
  width:100%;
  background:#FFFFFF;
  border:1px solid #E8E8E8;
  padding:10px;
  display:flex;
  flex-direction:column;
  margin-bottom:15px;
}

.challenges_uploadBlock {
  font-family:'Noto Sans';
  font-size:0.challenges_9em;
  font-weight:600;
  color:#555555;
  padding-top:15px;
  padding-bottom:15px;
  border-top:1px solid #E8E8E8;
  padding-left:5px;
  padding-right:5px;
  cursor:pointer;
}

.challenges_uploadBlock:hover {
  background:#F8F8F8;
}

.challenges_detailImageContainer {
  width:100%;
  height:400px;
  background:#FFFFFF;
  border:1px solid #E8E8E8;
  margin-top:15px;
  padding:10px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.challenges_detailImage {
  width:100%;
  height:auto;
}

.challenges_detailContent {
  border:1px solid #E8E8E8;
  margin-top:15px;
  padding:10px;
  background:#FFFFFF;
  width:100%;
  font-family:'Noto Sans';
  font-size:1.2em;
  color:#555555;
  font-weight:300;
}

.challenges_participantBlock {
  display:flex;
  flex-direction:row;
  align-items:center;
  border-top:1px solid #E8E8E8;
}

.challenges_participantImage {
  width:40px;
  height:40px;
  border-radius:50%;
  margin-top:5px;
  margin-bottom:5px;
  margin-right:10px;
}

.challenges_participantName {
  font-family:'Noto Sans';
  font-size:1.1em;
  color:#444444;
}

.challenges_feedTags {
  display:flex;
  flex-direction:row;
  margin-top:5px
}

.challenges_tagBlock {
  font-family:'Noto Sans';
  font-weight:600;
  font-size:0.8em;
  color:#999999;
  padding:5px;
  border:1px solid #e8e8e8;
  background:#F4F4F4;
  margin-right:10px;
}

.challenges_categoryTitle {
  font-family:'Noto Sans';
  font-size:0.9em;
  font-weight:600;
  color:#888888;
  margin-bottom:5px;
}

/* Challenges Styles */

.challenges_mainContainer {
  display:flex;
  flex-direction:column;
  background:#f9f9f9;
  min-height:100vh;
}

.challenges_contentContainer {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:100%;
  max-width:1100px;
  margin:0 auto;
  margin-top:20px;
}

.challenges_categoryContainer {
  display:flex;
  flex-direction:column;
  width:20%;
}

.challenges_challengeFeed {
  display:flex;
  flex-direction:column;
  flex-grow:1;
  max-width:60%;
  padding-left:2%;
  padding-right:2%;
}

.challenges_sideBar {
  width:20%;
}


.challenges_categoryHeader {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  color:#555555;
}

.challenges_searchInput {
  border:1px solid #E8E8E8;
  border-radius:5px;
  padding-top:5px;
  padding-bottom:5px;
  outline:none;
  color:#222222;
  font-size:1.05em;
  width:100%;
}

.challenges_newsLetterBlock {
  margin-top:10px;
  display:flex;
  flex-direction:column;
  background:#FFFFFF;
  border:1px solid #e8e8e8;
  padding:5px;
}

.challenges_newsLetterImage {
  height:200px;
  background:#EEEEEE;
}

.challenges_newsLetterInput {
  width:90%;
  margin:0 auto;
  padding:2%;
  outline:none;
  border:1px solid #DDDDDD;
}

.challenges_feedContainer {
  width:100%;
  border:1px solid #e8e8e8;
  margin-bottom:15px;
  background:#FFFFFF;
}

.challenges_feedHeader {
  font-size:2em;
  font-family:'Lato';
  font-weight:300;
  font-variant:small-caps;
  color:#777777;
  padding-left:10px;
  padding-bottom:5px;
}

.challenges_feedList {
  display:flex;
  flex-direction:column;
}

.challenges_feedBlock {
  min-height:100px;
  display:flex;
  flex-direction:row;
  padding:10px;
  border-top:1px solid #E8E8E8;
  text-decoration:none;
}

.challenges_feedImage {
  width:150px;
  height:100px;
}

.challenges_feedInfo {
  display:flex;
  flex-direction:column;
  padding-left:10px;
  padding-right:10px;
}

.challenges_feedTitle {
  font-family:'Lato';
  font-size:1.5em;
  font-weight:300;
  color:#333333;
}

.challenges_feedContent {
  font-family:'Lato';
  font-weight:300;
  color:#999999;
  padding-top:5px;
  padding-bottom:5px;
}

.challenges_feedTags {
  display:flex;
  flex-direction:row;
  margin-top:5px
}

.challenges_tagBlock {
  font-family:'Noto Sans';
  font-weight:600;
  font-size:0.8em;
  color:#999999;
  padding:5px;
  border:1px solid #e8e8e8;
  background:#F4F4F4;
  margin-right:10px;
}

/* Challenges Styles */

.challenges_container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.challenges_questionContainer {

}

.challenges_questionBlock {
  min-height:100px;
  display:flex;
  flex-direction:column;
  padding:10px;
  border-top:1px solid #E8E8E8;
  text-decoration:none;
}

.challenges_questionHeader {
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-left:10px;
}

.challenges_questionAvatarImg {
  height:40px;
  width:40px;
  border-radius:50%;
}

.challenges_questionName {
  margin-left:10px;
  font-family:'Noto Sans';
  font-weight:600;
  color:#555555;
  font-size:0.challenges_9em;
}

.challenges_questionWho {
  margin-left:10px;
  font-size:0.9em;
  font-family:'Noto Sans';
  color:#999999;
}

/* Teams Styles */

.challenges_myTeamBlock {
  border:1px solid #E8E8E8;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  padding:10px;
  font-family:'Noto Sans';
  font-size:1.challenges_5em;
  color:#555555;
  font-variant:small-caps;
  background:#FFFFFF;
}

.challenges_teamList {
  display:flex;
  flex-direction:column;
  margin-top:15px;
  background:#FFFFFF;
  border:1px solid #E8E8E8;
}

.challenges_memberAvatar {
  height:40px;
  width:40px;
  border-radius:50%;
  margin-left:10px;
}

/* Replies Styles */


.challenges_questionTopicContainer {
  background:#FFFFFF;
  width:100%;
  min-height:175px;
  border-bottom:1px solid #E8E8E8;
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.challenges_questionTopic {
  width:1000px;
  display:flex;
  flex-direction:row;
}

.challenges_questionTopicAvatar {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  min-height:175px;
  overflow:hidden;
}

.challenges_questionTopicAvatarImg {
  width:100%;
  max-width:120px;
  height:auto;
}

.challenges_questionAvatarName {
  font-family:"Noto Sans";
  font-size:0.8em;
  color:#0098ff;
  font-weight:bold;
  margin-top:3px;
}

.challenges_questionTopicInfo {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  flex-grow:1;
  padding:25px;
}

.challenges_questionTopicContent {
  font-family:'Noto Sans';
  font-size:0.9em;
  color:#333333;
}

.challenges_questionTopicStats {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  font-family:"Noto Sans";
  font-size:0.8em;
  color:#0098ff;
  font-weight:bold;
}

.challenges_questionTopicButtons {
  display:flex;
  flex-direction:row;
  align-items:center;
}

.challenges_questionTopicButton {
  margin-right:10px;
}

.challenges_detailReplyContainer {
  width:100%;
  max-width:900px;
  margin:0 auto;
  margin-top:30px;
}

.challenges_replyBlockContainer {
  background:#FFFFFF;
  display:flex;
  flex-direction:column;
  border:1px solid #e1e8ed;
  margin-bottom:15px;
}

.challenges_replyBlock {
  min-height:75px;
  display:flex;
  flex-direction:row;
}

.challenges_replyChildContainer {
  display:flex;
  flex-direction:column;
  margin-left:30px;
}

.challenges_replyBlockChild {
  min-height:75px;
  display:flex;
  flex-direction:row;
  margin-top:10px;
  margin-left:30px;
  background:#F2F2F2;
}

.challenges_replyAvatar {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:60px;
  width:60px;
  margin:5px;
  overflow:hidden;
}

.challenges_replyAvatarImg {
  width:100%;
  max-width:60px;
}

.challenges_replyInfo {
  display:flex;
  flex-direction:column;
  flex-grow:1;
}

.challenges_replyTop {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  border-bottom:1px solid #DDDDDD;
  align-items:center;
  padding-top:5px;
  padding-bottom:5px;
}

.challenges_replyTopInfo {
  display:flex;
  flex-direction:row;
}

.challenges_replyName {
  font-family:"Noto Sans";
  font-size:0.8em;
  color:#0098ff;
  font-weight:bold;
  margin-left:5px;
}

.challenges_replyDate {
  font-family:"Noto Sans";
  font-weight:bold;
  font-size:0.7em;
  color:#888888;
  margin-left:10px;
}

.challenges_replyContent {
  padding:5px;
  font-family:'Noto Sans';
  font-size:0.8em;
  color:#333333;
}

.challenges_replyModBlock {
  background:#0098ff;
  border-radius:3px;
  font-family:'Noto Sans';
  font-size:0.65em;
  color:#FFFFFF;
  padding-left:3px;
  padding-right:3px;
  padding-top:1px;
  padding-bottom:1px;
  margin-left:5px;
  font-weight:bold;
}

.challenges_replyOptions {
  display:flex;
  flex-direction:row;
}

.challenges_replyButton {
  font-family:"Noto Sans";
  font-size:0.8em;
  color:#0098ff;
  font-weight:bold;
  margin-right:10px;
  cursor:pointer;
}

.challenges_replyEditor {
  width:60%;
}

.challenges_replyDrawerOptions {
  width:40%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

/* Detail Styles */


.challenges_detailColumnOne {
  width: 68%;
  margin-right: 1%;
}

.challenges_detailColumnTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
}

.challenges_detailBlock {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #E8E8E8;
  width: 100%;
}

.challenges_detailAvatarContainer {
  width: 75px;
  height: 75px;
}

.challenges_detailInfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.challenges_detailTitle {
  font-family: 'Noto Sans';
  font-size: 1.challenges_8em;
  font-weight: 200;
  color: #333333;
}

.challenges_detailContent {
  font-family: 'Noto Sans';
  font-weight: 200;
  color: #999999;
  padding-top: 5px;
  padding-bottom: 5px;
}

.challenges_detailSideBlock {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.challenges_uploadBlock {
  font-family: 'Noto Sans';
  font-size: 0.9em;
  font-weight: 600;
  color: #555555;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #E8E8E8;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.challenges_uploadBlock:hover {
  background: #F8F8F8;
}

.challenges_detailImageContainer {
  width: 100%;
  height: 400px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  margin-top: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.challenges_detailImage {
  width: 100%;
  height: auto;
}

.challenges_detailContent {
  border: 1px solid #E8E8E8;
  margin-top: 15px;
  padding: 10px;
  background: #FFFFFF;
  width: 100%;
  font-family: 'Noto Sans';
  font-size: 1.challenges_2em;
  color: #555555;
  font-weight: 300;
}

.challenges_mainContainer {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  min-height: 100vh;
}

.challenges_contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
}

.challenges_detailColumnOne {
  width: 68%;
  margin-right: 1%;
}

.challenges_detailBlock {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #E8E8E8;
  width: 100%;
}

.challenges_detailAvatarContainer {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  overflow: hidden;
}

.challenges_detailAvatar {
  width: 100%;
  height: auto;
}

.challenges_detailInfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.challenges_detailTitle {
  font-family: 'Noto Sans';
  font-size: 1.8em;
  font-weight: 200;
  color: #333333;
}

.challenges_tagBlock {
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 0.8em;
  color: #999999;
  padding: 5px;
  border: 1px solid #e8e8e8;
  background: #F4F4F4;
  margin-right: 10px;
}

.challenges_detailContent {
  font-family: 'Noto Sans';
  font-weight: 200;
  color: #999999;
  padding-top: 5px;
  padding-bottom: 5px;
}

.challenges_feedContainer {
  width: 100%;
  border: 1px solid #e8e8e8;
  margin-bottom: 15px;
  background: #FFFFFF;
}

.challenges_feedHeader {
  font-size: 2em;
  font-family: 'Lato';
  font-weight: 300;
  font-variant: small-caps;
  color: #777777;
  padding-left: 10px;
  padding-bottom: 5px;
}

.challenges_feedList {
  display: flex;
  flex-direction: column;
}

.challenges_feedImage {
  width: 150px;
  height: 100px;
}

.challenges_feedInfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.challenges_feedTitle {
  font-family: 'Lato';
  font-size: 1.5em;
  font-weight: 300;
  color: #333333;
}

.challenges_feedContent {
  font-family: 'Lato';
  font-weight: 300;
  color: #999999;
  padding-top: 5px;
  padding-bottom: 5px;
}

.challenges_feedTags {
  display: flex;
  flex-direction: row;
  margin-top: 5px
}

.challenges_detailColumnTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
}

.challenges_detailSideBlock {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.challenges_categoryTitle {
  font-family: 'Noto Sans';
  font-size: 0.9em;
  font-weight: 600;
  color: #888888;
  margin-bottom: 5px;
}

.challenges_participantBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #E8E8E8;
}

.challenges_participantImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.challenges_participantName {
  font-family: 'Noto Sans';
  font-size: 1.1em;
  color: #444444;
}

/* Home Styles */

.challenges_mainContainer {
  display:flex;
  flex-direction:column;
  background:#f9f9f9;
  min-height:100vh;
}

.challenges_contentContainer {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:100%;
  max-width:1100px;
  margin:0 auto;
  margin-top:20px;
}

.challenges_categoryContainer {
  display:flex;
  flex-direction:column;
  width:20%;
}

.challenges_challengeFeed {
  display:flex;
  flex-direction:column;
  flex-grow:1;
  max-width:60%;
  padding-left:2%;
  padding-right:2%;
}

.challenges_sideBar {
  width:20%;
}


.challenges_categoryHeader {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  color:#555555;
}

.challenges_searchInput {
  border:1px solid #E8E8E8;
  border-radius:5px;
  padding-top:5px;
  padding-bottom:5px;
  outline:none;
  color:#222222;
  font-size:1.05em;
  width:100%;
}

.challenges_newsLetterBlock {
  margin-top:10px;
  display:flex;
  flex-direction:column;
  background:#FFFFFF;
  border:1px solid #e8e8e8;
  padding:5px;
}

.challenges_newsLetterImage {
  height:200px;
  background:#EEEEEE;
}

.challenges_newsLetterInput {
  width:90%;
  margin:0 auto;
  padding:2%;
  outline:none;
  border:1px solid #DDDDDD;
}

.challenges_feedContainer {
  width:100%;
  border:1px solid #e8e8e8;
  margin-bottom:15px;
  background:#FFFFFF;
}

.challenges_feedHeader {
  font-size:2em;
  font-family:'Lato';
  font-weight:300;
  font-variant:small-caps;
  color:#777777;
  padding-left:10px;
  padding-bottom:5px;
}

.challenges_feedList {
  display:flex;
  flex-direction:column;
}

.challenges_feedBlock {
  min-height:100px;
  display:flex;
  flex-direction:row;
  padding:10px;
  border-top:1px solid #E8E8E8;
  text-decoration:none;
}

.challenges_feedImage {
  width:150px;
  height:100px;
}

.challenges_feedInfo {
  display:flex;
  flex-direction:column;
  padding-left:10px;
  padding-right:10px;
}

.challenges_feedTitle {
  font-family:'Lato';
  font-size:1.5em;
  font-weight:300;
  color:#333333;
}

.challenges_feedContent {
  font-family:'Lato';
  font-weight:300;
  color:#999999;
  padding-top:5px;
  padding-bottom:5px;
}

.challenges_feedTags {
  display:flex;
  flex-direction:row;
  margin-top:5px
}

.challenges_tagBlock {
  font-family:'Noto Sans';
  font-weight:600;
  font-size:0.8em;
  color:#999999;
  padding:5px;
  border:1px solid #e8e8e8;
  background:#F4F4F4;
  margin-right:10px;
}

/* Challenges Styles */

.challenges_container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.challenges_questionContainer {

}

.challenges_questionBlock {
  min-height:100px;
  display:flex;
  flex-direction:column;
  padding:10px;
  border-top:1px solid #E8E8E8;
  text-decoration:none;
}

.challenges_questionHeader {
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-left:10px;
}

.challenges_questionAvatarImg {
  height:40px;
  width:40px;
  border-radius:50%;
}

.challenges_questionName {
  margin-left:10px;
  font-family:'Noto Sans';
  font-weight:600;
  color:#555555;
  font-size:0.9em;
}

.challenges_questionWho {
  margin-left:10px;
  font-size:0.9em;
  font-family:'Noto Sans';
  color:#999999;
}

/* Teams Styles */

.challenges_myTeamBlock {
  border: 1px solid #E8E8E8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: 'Noto Sans';
  font-size: 1.challenges_5em;
  color: #555555;
  font-variant: small-caps;
  background: #FFFFFF;
}

.challenges_teamList {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
}

.challenges_memberAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.challenges_mainContainer {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  min-height: 100vh;
}

.challenges_newChallengeImagePreview {
  max-height: 200px;
  max-width: 100%;
}

.challenges_contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
}

.challenges_sideBar {
  width: 20%;
}

.challenges_categoryContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.challenges_challengeFeed {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 60%;
  padding-left: 2%;
  padding-right: 2%;
}

.challenges_feedBlock {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-top: 1px solid #E8E8E8;
  text-decoration: none;
}

.challenges_feedImage {
  width: 150px;
  height: 100px;
}

.challenges_feedInfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.challenges_feedTitle {
  font-family: 'Lato';
  font-size: 1.5em;
  font-weight: 300;
  color: #333333;
}

.challenges_feedContent {
  font-family: 'Lato';
  font-weight: 300;
  color: #999999;
  padding-top: 5px;
  padding-bottom: 5px;
}

.challenges_challengeImageBlock {
  min-height: 100px;
  border: 4px dashed #DDDDDD;
  font-family: 'Noto Sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #BBBBBB;
  margin-top: 15px;
}

.challenges_hquestion-toolbar {
  background: transparent;
  border: none;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  width: 100%;
}

.challenges_hquestion-wrapper {
  width: 100%;
  margin-top: 15px;
}

.challenges_question-editor-main {
  min-height: 200px;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 1.1em;
  color: #333333;
  line-height: 30px;
  letter-spacing: 1px;
}
