/* BookingSystem Styles */

.bookingContainer {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.bookingHeaderBookingStyle {
  height:400px;
  width:100%;
  background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('http://h4z.it/Image/191ccf_odebootcamp3.jpg');
  background-size:cover;
  background-position:center center;
  font-family: 'Anton', sans-serif;
  font-size:4em;
  line-height:120px;
  text-align:center;
  color:#FFFFFF;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.bookingHeaderMain {
  display:flex;
  flex-direction:column;
  flex-grow:1;
  align-self:center;
  justify-content:center;
}

.bookingMainStyle {
  padding:30px;
}

.bookingSectionContainer {
  min-height:100px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:15px;
  
}

.bookingMainTitle {
  font-family:Montserrat;
  font-size: 2em;
  display:flex;
  flex-direction:row;
  justify-content:center;
  font-weight:bold;
  color:#555555;
  padding:15px;
}

.bookingLocationSelect { 
  margin: 10vh auto;
  height: 10vh;  
}

.bookingFlowContainer { 
  min-height: 80vh; 
  max-height: 90vh; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

.bookingSelectType { 
  width: 30%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  text-align: center; 
  align-items: center; 

}

.bookingNextFlow { 
  width: 60%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  text-align: center; 
  align-items: center; 
}

.bookingTypeCardBlock {
  height: 80%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
  align-content: center;    
}

.bookingCardBlock {
  height: 80%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
  align-content: center;    
}

.bookingSelectDateTime { 
  width: 30%; 
  display: flex; 
  flex-direction: column; 
  align-items: space-around; 
}

.bookingSubmit { 
  text-align: center;
  margin-top: 60px;
}

