/* SecurityNotifSettings Styles */
.secNotifSettingsContainer {
    max-width:1000px;
    margin: 30px auto;
    padding: 15px; 
}
    .acctNotificationSettings {
        margin: 0 auto 120px auto; 
        max-width: 45%;
    }
        .acctNotificationSettingsForm {
        
        }

    .acctSecuritySettings {
        margin: 120px auto 0 auto;
        max-width: 45%; 
    }
        .acctSecuritySettingsForm {
           
        }