.home-toolbar {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dddddd;
    display: flex;
    width: 100%;
}

.home-wrapper {
    width: 100%;
    margin-top: 15px;
}

.rdw-editor-main {
    overflow: auto;
    height: auto;
    font-family: "Lato";
    font-weight: 400;
    font-size: 1.1em;
    color: #333333;
    line-height: 30px;
    letter-spacing: 1px;
    border-right: 1.4px solid rgba(0, 0, 0, 0.54);
    border-left: 1.4px solid rgba(0, 0, 0, 0.54);
}

.rdw-editor-toolbar {
    margin-top: 32px;
}

.rdw-editor-wrapper {
    box-sizing: border-box;
    height: auto;
    border-bottom: 1.4px solid rgba(0, 0, 0, 0.54);
}

.toolbarHidden {
    display: none;
}

.noTagSelected {
    margin-top: 32px;
    margin-bottom: 22px;
    /*  background: #f8f8f8; */
    border-bottom: 1.4px solid rgba(0, 0, 0, 0.54);
    border-top: none;
    border-right: none;
    border-left: none;
}

.selectNotFocused {
    margin-bottom: 22px;
    /*  background: #f8f8f8; */
    border-bottom: 1.4px solid rgba(0, 0, 0, 0.54);
    border-top: none;
    border-right: none;
    border-left: none;
}

.selectFocused {
    margin-bottom: 22px;
    /*  background: #f8f8f8; */
    border-bottom: 1.4px solid #304ffe;
    border-top: none;
    border-right: none;
    border-left: none;
}

.labelFoobar {
    margin-top: 32px;
}

.noTagSelected:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.54);
}

.selectFocused:hover {
    border-bottom: 2px solid rgb(100, 100, 100);
}

.selectFocused:hover {
    border-bottom: 2px solid #304ffe;
}

.Select-arrow {
    display: none;
}

.Select-clear {
    display: none;
}

.Select-placeholder {
    padding: 0;
    /* font-weight: bold; */
    color: rgba(0, 0, 0, 0.54);
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.MyInputLabel-hider {
    font-size: .8rem;
}

.MyInputLabel-animated-9 {
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    position: relative;
    top: 0
}

.MyInputLabel-formControl-6 {
    top: 0;
    left: 0;
    position: relative;
    transform: translate(0, 23px) scale(1);
}

/* .MyInputLabel-root-5 {
  transform-origin: top left;
} */

.MyInputLabel-hide {
    display: none;
    /* transform-origin: top left; */
}

.MyInputLabel-root-11 {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    /*  font-size: 3rem;*/
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
    line-height: 1;
}

div.Select-placeholder {
    font-size: .85rem;
}

.MyInputLabel-shrink-8 {
    transform: translate(0, 1.5px) scale(0.75);
    transform-origin: top left;
    margin-top: 12px;
}

.MyInputLabel-formControl-62 {
    top: 0;
    left: 0;
    position: relative;
}

.MyInputLabel-focused-12 {
    color: #304ffe;
}

.MyInputLabel-focused-122 {
    color: rgba(0, 0, 0, 0.54);
}

.MyInputLabel-root-112 {
    padding: 0;
    font-size: .7rem;
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
    line-height: 1;
}

.MuiExpansionPanelSummary-content-94 {
    justify-content: center;
}

.MuiCollapse-wrapperInner-111 {
    /*background: #f8f8f8;*/
}

span.Select-value-label {
    background: "red"
}