/* MemberDash Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.dashBanner { 
  height:100px;
  width:100%;
  background-color: #66c3ea;
}

.dashNavBar {
  height: 50px;   
  margin-bottom: 30px;   
}
  .dashNav {
    width: 60%; 
    margin: 0 auto; 
    padding: 15px; 
    display: flex; 
    justify-content: space-between; 
  }

.dashBody { 
  display:flex;
  flex-direction:row;
  max-width:1200px;
  margin:0 auto;
  justify-content:space-between;
  padding: 30px; 
}

.dashUserNetworkInfo { 
  width: 60%; 
}

  .dashSpaceNews {
    background: #eeeeee; 
  }

  .dashAnnouncement { 
    padding: 1em 2em; 
  }

  .dashUserInfo {
    width:35%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
  }
    
    .dashUpcomingEvents {  
      padding: 15px;
      display: flex; 
      flex-direction: column;
      justify-content: center; 
      align-content: space-around; 
      border-bottom: 1px black solid; 
    }

      .dashEventBlock {
        margin: 0 auto; 
      }

        .dashEvent {
          margin: 2em auto; 
        }
    
      .dashYourSpace { 
        margin: 30px auto; 
        display: flex; 
        width: 90%; 
        flex-direction: row; 
        align-items: center;
        justify-content: space-around; 
        height: 150px;
      }
        .dashSpaceLogo {
          margin: 1em;  
        }
        .dashSpaceQuickLinks {
        }

          li.dashSpaceLink { 
            display: block; 
            padding: 5px; 
            font-size: .8em;
          }

  