/* Banner Styles */

.challenges_bannerWrapper {
  display:flex;
}

.challenges_bannerContainer {
  background:#FFFFFF;
  width:100%;
  height:360px;
  border-bottom:1px solid #e8e8e8;
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.challenges_bannerWrapper {
  display:flex;
  flex-direction:row;
  width:60%;
  margin:0 auto;
  justify-content: space-between;
  align-items:center;
}

.challenges_bannerInfo {
  width:40%;
  display:flex;
  flex-direction:column;
}

.challenges_bannerTitle {
  font-family:'Noto Sans';
  font-size:2em;
  font-weight:bold;
  padding-top:10px;
  padding-bottom:10px;
  color:#333333;
}

.challenges_bannerContent {
  font-family:'Noto Sans';
  font-weight:200;
  font-size:1.2em;
  padding-bottom:10px;
  color:#666666;
}

.challenges_bannerGraphic {
  width:40%;
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.challenges_bannerImg {
  height:300px;
}
