/* MemberSearch Mobile Styles */
@media (max-width: 425px) {
  .membersContainer {
    max-width: 100%;
  }

  .memberSearchMain {
    padding: 0;
  }
}

@media (max-width: 1024px) and (min-width: 426px) {
  .membersContainer {
    max-width: 100%;
  }
  .memberSearchMain {
    padding: 0;
  }
}
