/**
* MemberSearch Styles 
*
* #pre-Search* will hide after search
* #postSeach * will show after search
*
*/

.MS-Container {
  /* flex  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height */
  min-height:100vh;
}

div.MS-Container > main {
  display: flex;
  flex-direction: column;
}

/* banner */
div.MS-Container > main > h1 {
  /* flex */
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  /* height, width */
  height:45vh;
  width:100%;
  /* background */
  background:linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url('../../images/002.jpg'
  );
  background-size:cover;
  background-position:center center;
  /* text */
  font-family: 'Anton', sans-serif;
  font-size:4em;
  line-height:120px;
  text-align:center;
  color:#FFFFFF;
}

/* search bar */
h1 ~ form#MS-preSearchForm {
  /* flex */
  display: flex;
  align-self: center;
  justify-content: center;
  /* height, width  */
  height: 2em;
  width: 25%;
  /* border */
  border: 1px solid black;
  /* formatting */
  margin-top: 1.5em;
  margin-bottom: .30em;
}

/* post-search header/button container */
div#MS-postSearchContainer > section {
  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  /* width,height */
  height: 5em;
/* formmatting */
  padding-top: 1em;
}

/* go back button */
div#MS-postSearchContainer > section > button {
  text-align: center;
  box-sizing: content-box;  
  height: 2.8em;
  width: 7.8em;
  background: #464646;
  border-radius: 6px;
  color: whitesmoke;
}

/* search results container */
div#MS-postSearchContainer > section + ul {
  display: flex;
  flex-direction: column;
}

/* search result workspace name */
div#MS-postSearchContainer h2 {
  width: 100%;
  text-align: center;
  /* text */
  font-size:2.5em;
  font-variant:small-caps;
  font-weight:bold;
  color:#555555;
}

/* User Card */
div#MS-postSearchContainer > section + ul > li {
  display: flex;
  flex-direction: row;
  border: .5px solid silver;
  padding: 1em;
  width: 100%;
}

/* User Avatar */
div#MS-postSearchContainer img {
  border-radius: 50%;
}

/* User Description List */
dl#MS-userInfo {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Encode Sans Condensed';
  margin-left: 3em;
}

/* put all <dt> <dd> pairs in row */
dl#MS-userInfo div {
  display: flex;
}

/* make all <dt> bold */
dl#MS-userInfo > div > dt {
  font-weight:700; 
}

/* search input */
form#MS-preSearchForm input {
  padding-left: 1.5em;
  width: 100%;
}

/* mozzilla - position/style cursor in searchbar */
form#MS-preSearchForm > input:placeholder-shown {
  padding-left: 1.5em;
   /* text */
  color: black;
  font-weight: 200;
}

/* safari - position/style cursor in searchbar */
form#MS-preSearchForm  > input::-webkit-input-placeholder {
  padding-left: .30em;
   /* text */
  color: black;
  font-weight: 200;
}

/* icon in search bar */
.MS-MdIcon {
  display: inline-block;
  align-self: center;
}

/* will apply to post and pre-search subheader */
div.MS-Container > main > h2 {
  /* flex */
  display:flex;
  flex-direction:row;
  justify-content:center;
  /* text */
  font-size:2.5em;
  font-variant:small-caps;
  font-weight:bold;
  color:#555555;
  /* formatting  */
  margin-top: .5em;
  margin-bottom: 1em;
}

/* style skill tag rows */
main#MS-main > section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* add margin to first skill tag row */
h2 ~ section#MS-preSearchTagRowOne {
  display: flex;
  justify-content: center;
  margin-bottom: .75em;
} 

/* tag container */
main#MS-main > section > div {
  display: flex;
  justify-content: space-between;  
  width: 30%;
}

/* skill tag buttons */
main#MS-main > section > div button#tags {
  /* text */
  text-align: center;
  color: whitesmoke;
  box-sizing: content-box;  
  /* height,width */
  height: 2.8em;
  width: 7.8em;
  /* background  */
  background: #464646;
  /* border */
  border-radius: 6px;
}
