/* KioskSystem Styles */

.kioskContainer {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background: #26AAE1; 
  font-family: 'Encode Sans', sans-serif; 
}

.kioskBody {
  display: flex; 
  flex-direction: row-reverse; 
  min-height: 95vh; 
}

  .kioskLogoBlock {
    border: 1px solid black; 
    height: 200px; 
    padding: 15px; 
    display: flex; 
    flex-direction: row; 
  }

    .kioskLogoWrapper {
      background: #DDDDDD; 
      height: 200px;
      width: 200px; 
      border-radius: 50%;       
      align-self: flex-end;
    }

  .kioskFormContainer {
    border: 1px solid red;
    padding: 15px; 
    background: #ffffff; 
    margin: 30px auto; 
    width: 50%; 
    max-width: 1200px;
  }
    .kioskUserName {
      font-size: 1.5em; 
      text-align: center; 
      padding: 30px; 
    }
    .kioskAutoWrapper { 
      padding: 30px 15px; 
      margin: 0 10%; 
      
    }

  .kioskRedirectNav {
    color: #ffffff;
    text-align: center; 
  }

 