/* Checkout Styles */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.checkoutHeaderBanner {
  width: 100%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("http://h4z.it/Image/3c408f_331-1067x800.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userSignUpMain {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #eeeeee;
}

.userSignUpForm {
  border: 1px solid #dddddd;
  border-radius: 5px;
  max-width: 720px;
  margin: 0 auto;
  background: #ffffff;
}

.spaceLogoImagePreview {
  max-height: 200px;
  max-width: 100%;
}

.spaceSignUpMain {
  margin-top: -40px;
}

.spaceSignUpTitle {
  font-size: 1em;
  font-family: "Noto Sans";
  font-weight: bold;
  color: #555555;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}

.spaceSignUpContainer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-width: 75%;
  margin: 0 auto;
}

.spaceLogoMainImageRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 15px;
}

.spaceLogoMainImageBlock {
  width: 48%;
  min-height: 200px;
  border: 8px dashed #dddddd;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #bbbbbb;
}

.MyInputLabel-animated-9 {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  position: relative;
  top: 0;
}

.MyInputLabel-formControl-6 {
  top: 0;
  left: 0;
  position: relative;
  transform: translate(0, 23px) scale(1);
}

/* .MyInputLabel-root-5 {
  transform-origin: top left;
} */

.MyInputLabel-hide {
  display: none;
  /* transform-origin: top left; */
}

.MyInputLabel-root-11 {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  line-height: 1;
}

.MyInputLabel-shrink-8 {
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top left;
  margin-top: 12px;
}

.MyInputLabel-formControl-62 {
  top: 0;
  left: 0;
  position: relative;
}

.MyInputLabel-focused-12 {
  color: #304ffe;
}

.MyInputLabel-focused-122 {
  color: rgba(0, 0, 0, 0.54);
}

.MyInputLabel-root-112 {
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  line-height: 1;
}

.MuiExpansionPanelSummary-content-94 {
  justify-content: center;
}

.MuiCollapse-wrapperInner-111 {
  background: #fff;
}

span.Select-value-label {
  background: "red";
}

.foobar {
  margin-top: 32px;
  margin-bottom: 22px;
  background: #fff;
  border-bottom: 1.4px solid rgb(100, 100, 100);
  border-top: none;
  border-right: none;
  border-left: none;
}

.foobar2 {
  margin-bottom: 22px;
  background: #fff;
  border-bottom: 1.4px solid rgb(100, 100, 100);
  border-top: none;
  border-right: none;
  border-left: none;
}

.foobar3 {
  margin-bottom: 22px;
  background: #fff;
  border-bottom: 1.4px solid #304ffe;
  border-top: none;
  border-right: none;
  border-left: none;
}

.labelFoobar {
  margin-top: 32px;
}

.foobar:hover {
  border-bottom: 2px solid rgb(100, 100, 100);
}

.foobar2:hover {
  border-bottom: 2px solid rgb(100, 100, 100);
}

.foobar3:hover {
  border-bottom: 2px solid #304ffe;
}

.Select-arrow {
  display: none;
}

.Select-clear {
  display: none;
}

.Select-placeholder {
  padding: 0;
  /* font-weight: bold; */
  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}
