/* LogInSignUp Styles 

on hovers & other animation goodies when colors are decided7.*/

.authContainer {
  display:flex;
  flex-direction:column;
  height:100vh;
}

.authBanner { 
  height:150px;
  width:100%;
  background-color: #555555;
}

.authBody { 
  min-height: 65vh;
  width:100%;
  max-width:1000px;
  margin: 0 auto;
  padding: 15px;
  padding-top: 25px;
}

.authTabsContainer { 
  width: 600px;  
  margin: 0 auto; 
}

  .tabList {
    width: 70%; 
    margin: 4vh auto 0 auto; 
    display: flex; 
    justify-content: space-around;   
  }

  .tabContent { 
    width: 80%; 
    margin: 0 auto;  
  }

    #loginForm { 
      margin: 0 auto;
      padding-top: 10%; 
    }

      #rememberMe { 
        width: 70%; 
        margin: 0 auto; 
      }

      .forgotInfo { 
        display: flex; 
        justify-content: flex-end; 
        margin: 0 auto; 
        width: 70%; 
        font-size: .75em;
      }
        .userInfoLink {
          margin: 0 1em; 
        }

    #signUpForm { 
      margin-top: 1em; 
    }

  .tabLink { 
    border-left: solid 2px #000;
    border-right: solid 2px #000;  
    width: 50%; 
    text-align: center; 
    margin: 1em;
    padding: 5px; 
  }

  .userFormItem {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto; 
    width: 70%; 
    padding: 1.5em 1.5em 1em 1.5em; 
  }

  .userFormItemCheckBox {
    display: flex; 
    /* justify-content: space-between; */
    align-items: center; 
    margin: 0 auto; 
    width: 70%; 
    padding: 1.5em; 
  }

  .userFormItemAvatar {
    display: flex; 
    /* justify-content: space-between; */
    align-items: center; 
    margin: 0 auto; 
    width: 70%; 
    padding: 1.5em; 
  }

  .spacesDropdown { 
    width: 50%; 
  }

    .userFormSubmit {       
      display: flex; 
      width: 20%; 
      margin: 2em auto;  
      align-items: center; 
    }

.userFormTagContainer {
  width: 70%;
  margin-left: 14%; 
 font-weight: bold; 
  align-self: flex-start;
  /* margin: 30px 10%;  */
  margin-top: 30px;
  margin-bottom: 30px;
}



