/* div.singleDpCon:first-child { */

/* margin-top: 32px; */

/* margin-bottom: 0.01px; */

/* } */

div.singleDpCon {
    /* margin-bottom:  32px; */
    margin-top: 32px;
    line-height: normal;
}

div.singleDpCon label.singleDpConStartLabel {
    margin-bottom: 8px;
    margin-top: 8px;
}

.fudge:hover {
    cursor: pointer;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type="time"]::-webkit-clear-button {
    display: none;
}

input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
}

input::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

input::-webkit-search-cancel-button {
    display: none;
    -webkit-appearance: none;
}

input::-ms-clear {
    display: none;
}

input {
    font-family: sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
}

textarea:focus,
input:focus {
    outline: none;
}