/* KioskSystem Styles */

.kioskContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Encode Sans", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

.kioskMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  padding-bottom:50px;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.kioskTitle {
  font-size: 2.5em;
  color: #ffffff;
  font-variant: small-caps;
  font-weight: bold;
}

.kioskSubtitle {
  font-size: 1.8em;
  color: #eeeeee;
  width: 80%;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}

.kioskContent {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding-bottom:15px;
}

.kioskUserName {
  font-size: 1.5em;
  text-align: center;
  padding: 30px;
}

.kioskReasons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  max-width:700px;
  margin-top:20px;
}

.kioskReasonBlock {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  border-radius: 5px;
  border: 3px solid #ffffff;
  padding: 15px;
  width: 24%;
  height: 100px;
  margin: 1%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}

.kioskReasonBlock:hover {
  background: #ffffff;
  color: #222222;
}

.eventList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

.eventBlock {
  width: 100%;
  height: 100px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  background: #ffffff;
  display: flex;
  flex-direction: row;
  transition: all 0.26s ease-in-out;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
  color: #222222;
}

.eventBlockImage {
  width: 100px;
  height: 100px;
  background: #eeeeee;
}

.eventBlockInfo {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventBlockTitle {
  font-size: 2em;
  font-variant: small-caps;
}

.eventBlockDesc {
  font-size: 0.9em;
  color: #999999;
}

.eventBlock:hover {
  transform: scale(1.1);
}

div.kioskContent div.Select--single {
  margin-bottom: 16px;
}

div.kioskContent div.Select-value {
  background-color: #fff;
  /* background-color: rgba(0, 126, 255, .08); */
  border: none;
  /* border: 1px solid #c2e0ff; */
  /* border: 1px solid rgba(0, 126, 255, .24); */
  /* color: #007eff; */
  display: inline-block;
  font-size: 0.9em;
  line-height: 2.5;
  margin-left: 5px;
  margin-top: -.5px;
  /* ^ to preserve hanging letters lol */
  /* margin-bottom: 8px; */
  vertical-align: top;
  box-sizing: border-box;
  cursor: default;
  border-spacing: 0;
  border-collapse: separate;
  /* margin-bottom: 16px; */
}

.kioskSpaceEventBlock {
  width:100%;
  border:2px solid #FFFFFF;
  padding:5px;
  margin-top:10px;
  border-radius:5px;
  cursor:pointer;
  color:#FFFFFF;
  font-size:1.2em;
} 