/* Contact Styles */


.contactContainer {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.contactHeader {
  height:400px;
  width:100%;
  background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('http://h4z.it/Image/191ccf_odebootcamp3.jpg');
  background-size:cover;
  background-position:center center;
  font-family: 'Anton', sans-serif;
  font-size:4em;
  line-height:120px;
  text-align:center;
  color:#FFFFFF;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.contactHeaderMain {
  display:flex;
  flex-direction:column;
  flex-grow:1;
  align-self:center;
  justify-content:center;
}

.contactHeaderSubtitle {
  font-family:Lato;
  display:flex;
  flex-direction:row;
  justify-content:center;
  max-width:900px;
  text-align:center;
  font-size:1em;
  line-height:30px;
  color:#BBBBBB;
}

.contactMainStyle {
  padding:30px;
}

.contactMainSectionContainer {
  min-height:100px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:15px;
}

.contactMainTitle {
  font-family:Montserrat;
  font-size:3em;
  display:flex;
  flex-direction:row;
  justify-content:center;
  font-variant:small-caps;
  font-weight:bold;
  color:#555555;
  padding:15px;
}

.contactMainSubtitle {
  display:flex;
  flex-direction:row;
  justify-content:center;
  color:#888888;
  line-height:30px;
}


.contactBody {
  display:flex;
  flex-direction:row;
  max-width:1200px;
  margin: 0 auto;
  padding: 30px; 
  justify-content:space-between;
}


.contactFormContainer {
  width:50%;
  background:#FFFFFF;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding:30px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

.contactInputLabel {
  font-family:Montserrat;
  font-size:0.8em;
  font-weight:bold;

}  

.contactInputItem { 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
}

.contactInputField { 
  max-width: 80%; 
  margin: 1em 0 0 0; 
}

.contactInfo {
  display:flex;
  flex-direction:column;
  width:40%;
}

.contactInfoBlock {
  padding:30px;
}

.contactInfoTitle {
  font-family:Montserrat;
  font-size:1em;
  text-transform:uppercase;
  font-weight:bold;
}



