/* Contact Mobile Styles */

@media(max-width:768px) {

  .contact_mainStyle {
    padding:0;
  }
  .contact_contactRow {
    flex-direction:column;
    align-items:center;
  }

  .contact_contactContainer {
    width:90%;
    padding:0px;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:15px;
    padding-right:15px;
  }

  .contact_contactInfo {
    width:100%;
  }

  .contact_inputBox {
    margin-bottom:30px;
  }

}
