/* MemberSearch Mobile Styles */
@media (max-width: 425px) {
  .memberSearchContainer {
    max-width: 100%;
  }

  .memberSearchHeaderTitle {
    text-align: center;
    font-family: HankenBook, sans-serif;
    color: #ffffff;
    font-size: 2em;
  }

  .memberSearchMain {
    padding: 0;
    max-width: 90%;
    margin: -90px auto 0 auto;
  }

  .memberSearchBar {
    min-width: 80%;
    margin-top: 1em; 
  }

  .memberBlock {
    width: 90%;
    margin: 15px auto;
  }

  .pageFooterContainer {
    text-align: center;
    padding: 15px;
  }
}

@media (max-width: 1024px) and (min-width: 426px) {
  .memberSearchContainer {
    max-width: 100%;
  }

  .memberSearchHeaderTitle {
    text-align: center;
    font-family: HankenBook, sans-serif;
    color: #ffffff;
    font-size: 2em;
  }

  .memberSearchMain {
    padding: 0;
    max-width: 90%;
  }

  .memberBlock {
    width: 90%;
    margin: 15px auto;
  }

  .pageFooterContainer {
    text-align: center;
    padding: 15px;
  }
}
