/* LearningHome Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.headingMediaBlock {
  height:600px;
  width:100%;
  background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
  background-size:cover;
  background-position:center center;
  font-family: 'Anton', sans-serif;
  font-size:2em;
  line-height:120px;
  text-align:center;
  color:#FFFFFF;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

  .headingTextBlock { 
    z-index: 2; 
    margin: -30vh 30vw; 
  }


.learningBodyContainer {
  min-height: 90vh; 
  width: 100vw; 
  margin: 0 auto;
}
  
  .learningClassesTitle { 
    text-align: center; 
    margin: 40px 0; 
  }

  .learningClassesList { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding: 50px 15px; 
    
  }

    .learningClassListing { 
      border: 1px solid #CCCCCC; 
      width: 30vw;  
      min-width: 250px;            
    }

      .learningClassImage {  
        width: 100%; 
        height: 200px;
        background: #BBBBBB; 
      }

      .learningClassLocation { 
        height: 50px; 
        width: 100%; 
        background: #ffffff;  
      }

    .learningClassDescription {  
      padding: .5em;
      display: flex; 
      flex-direction: column; 
      justify-content: space-between;    
    }

      .learningClassContent {
        margin: 0 auto 1em auto; 
      }

        .learningClassBlurb { 
          font-size: .85em; 
        }

      .learningClassCostBlock {
        border-top: 1px solid black; 
        padding: .5em 1em; 
        text-align: center;
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;    
      }

        .learningClassCost { 
          margin: .5em 0; 
          width: 40%; 
        }

        .learningRegisterButton { 
          width: 50%; 
        }

  .learningAllClassesBlock { 
    margin: 50px auto 0 auto; 
  }

    .learningAllClassesLink { 
      background: #DDDDDD; 
      padding: 1em 2em;  
      border-radius:  25px; 
    }
