/* LearningHome Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.headingMediaBlock {
  position: absolute;
}

.headingImage { 
  height: 45vh; 
  width: 100vw; 
  background: #DDDDDD; 
  
  }

  .headingTextBlock { 
    z-index: 2; 
    margin: -30vh 30vw; 
  }


.learningBodyContainer {
  background: #EEEEEE;
  min-height: 90vh; 
  width: 100vw; 
  margin: 0 auto;
}
  
  .availableClasses { 
    text-align: center;
    margin-top: 56vh;  
  }

  .classesList { 
    background: #DDDDDD; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin:0 2vw 10vh 2vw; 
   
  }

    .classesListing { 
      border: 1px solid #CCCCCC; 
      margin: 4vh 0; 
      width: 30vw;  
      min-width: 250px;  
          
    }

    .classesImage {  
      width: 100%;
      height: 150px;  
      background: #BBBBBB; 
    }

    .classesLocation { 
      height: 50px; 
      width: 100%; 
      background: #ffffff;  
    }

    .classesDescription {  
      padding: .5em;
      display: flex; 
      flex-direction: column; 
      justify-content: space-between;    
    }

      .classesInfo {
        margin: 0 auto 1em auto; 
      }

        .classesName {
          margin: 1em 0 .5em 0; 
        }

        .classesBlurb { 
          font-size: .85em; 
        }

      .classesCostBlock {
        border-top: 1px solid black; 
        padding: .5em 1em; 
        text-align: center;
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;    
      }

        .classesCost { 
          margin: .5em 0; 
          width: 40%; 
        }

        .registerButton { 
          width: 50%; 
        }

  .allClasses { 
    margin: 0 auto; 
  }

    .fullClassesList { 
      background: #ffffff; 
      padding: 1.5em 2.5em;   
    }

  .infoBlock { 
    height: 45vh; 
    background: #DDDDDD;
    margin: 0 20vw 10vh 20vw; 
  }

    .infoTitle {
      margin: 10vh 5vw;
      padding: 10vh 0;
    }

    .infoBenefitsList { 
      display: flex;
      flex-direction: column; 
      margin: 0 0 0 20vw;  
    }