/* KioskFlowTwo Styles */

.kioskVisitReasonBlock { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: space-between; 
    height: 400px; 
}

.reasonCard { 
    align-self: center; 
    align-content: center; 
    width: 400px;
}