/* AddEvent Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.addEventBanner { 
  height:200px;
  width:100%;
  background: #26aae1; 
  font-family: 'Anton', sans-serif;
  font-size:4em;
  line-height:120px;
  text-align:center;
  color:#FFFFFF;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.addEventBody { 
  min-height:100vh;
  width:100%;
  max-width:1000px;
  margin: 30px auto;
  padding:15px;
}
  .addEventContent { 
    display: flex; 
    flex-direction: column; 
    align-content: center;
    margin: 0 auto;  
  }

    .addEventTitle { 
      margin: 0 auto;      
    }

    .addEventInstructions {
      margin: 2em auto 0 auto;
      width: 600px;  
    }

    .addEventDesList { 
      list-style: unset;
      margin: 2em 0; 
    }

      .listItemReset { 
        display: block;    
        margin: 1em 0;       
      }

  .addEventForm { 
    max-width:1000px;   
    margin: 0 auto;
    padding: 15px;
    border: 1px dashed #DDDDDD; 
    margin: 30px; 
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;  
  }

    .addEventFormItem { 
      width: 50%; 
      margin: 30px 10%; 
      align-self: flex-start; 
      display: flex; 
      justify-content: space-between; 
    }

    .addEventFormLabel { 
      display: block; 
      margin-bottom: 20px;
    }

    .addEventUserSelect { 
      width: 80%; 
      margin: 30px 0; 
    }
    
    .addEventDateTime {
      width: 80%;
      margin: 30px 0; 
    }

    .addEventTagContainer {
      width: 80%;
      margin-left: 10%; 
      align-self: flex-start;
      margin: 30px 10%; 
    }

      .addEventTagWrapper { 
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;
        align-content: center;  
        width: 100%; 
      }

    .addEventDesContainer { 
      width: 80%;
      margin: 30px 0; 
    }

  .addEventSubmit { 
    text-align: center;
    margin: 8% auto 0 auto; 
    width: 200px;
  }
  